*{
    animation-fill-mode: forwards;
}

@font-face {
	font-family: 'flop';
	src: url(FLOPDesignFont.ttf);
}

@import url("keyframes.css");

@keyframes clickedBack{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }
}

@keyframes rollUp{
    100%{
        clip-path: polygon(0% -90%, 100% -90%, 100% -35%, 0% 0%);
    }
}

@keyframes rollUpCorner{
    100%{
        clip-path: polygon(0% -15%, 38% -15%, 0% 0%);
    }
}

@keyframes rollDown{
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes rollbackCorner{
    0%{
        clip-path: polygon(0% -15%, 38% -15%, 0% 0%);
    }

    100%{
        clip-path: polygon(0% 0%, 38% 0%, 0% 15%);
    }
}

@keyframes rollbackMain{
    0%{
        clip-path: polygon(0% -90%, 100% -90%, 100% -35%, 0% 0%);
    }

    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 90%);
    }
}

@keyframes rollbackOne{
    0%{
        clip-path: polygon(0% -95%, 100% -95%, 100% -35%, 0% 0%);
    }
    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 95%);
    }
}

@keyframes rollbackTwo{

    0%{
        clip-path: polygon(0% -100%, 100% -100%, 100% -35%, 0% 0%);
    }

    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
    }
}

@keyframes rollbackThree{

    0%{
        clip-path: polygon(0% -105%, 100% -105%, 100% -35%, 0% 0%);
    }

    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 105%);
    }
}

*{
    font-family: 'flop';
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.corner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    clip-path: polygon(0% 0%, 38% 0%, 0% 15%);
    z-index: 5;
    animation-fill-mode: forwards;
    transition: clip-path 100ms linear;
    animation-duration: 300ms;
}

.corner img{
    width: 5%;
    height: auto;
}

.corner:hover {
    clip-path: polygon(0% 0%, 40% 0%, 0% 16%);
}

.back{
    position: absolute;
    top: 85%;
    left: 90%;
    transform: translate(-90%, -85%);
    z-index: 6;
    display: none;
}

.back p{
    color: white;
    font-size: 40px;
    padding: 1%;
    border: solid 1px white;
}

.back p:hover{
    transition-duration: 200ms;
    background-color: rgba(255, 255, 255, 0.4);
}

.main{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #f842da;
    clip-path: polygon(0% 0%, 100% 0%, 100% 55%, 0% 90%);
    z-index: 4;
    animation-fill-mode: forwards;
    transition: clip-path 100ms linear;
    animation-duration: 400ms;
    animation-timing-function: ease;
}

.main:hover{
    clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 0% 91%);
}

.main h1{
    width: 100%;
    font-size: 10em;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.main p{
    margin: 0;
    width: 100%;
    font-size: 6em;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -30%);
    overflow: hidden;
}

.main span{
    display: inline-block;
}

.tab-one{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #48f842;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 95%);
    z-index: 3;
    animation-fill-mode: forwards;
    transition: clip-path 100ms linear;
    animation-duration: 400ms;
    animation-timing-function: ease;
}

.tab-one:hover{
    clip-path: polygon(0% 0%, 100% 0%, 100% 61%, 0% 96%);
}

.tab-two{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #2cd5ff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 0% 100%);
    z-index: 2;
    animation-fill-mode: forwards;
    transition: clip-path 100ms linear;
    animation-duration: 400ms;
    animation-timing-function: ease;
}

.tab-two:hover{
    clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 0% 101%);
}

.tab-three{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #8c50c5;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 105%);
    z-index: 1;
    animation-fill-mode: forwards;
    transition: clip-path 100ms linear;
    animation-duration: 400ms;
    animation-timing-function: ease;
}

.tab-three:hover{
    clip-path: polygon(0% 0%, 100% 0%, 100% 71%, 0% 106%);
}

.space{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #333333;
    animation-fill-mode: forwards;
    z-index: 0;
}

.himari{
    position: absolute;
    top: 100%;
    left: 65%;
    transform: translate(-65%, -100%);
    width: 5%;
    height: auto;
}

.space p{
    text-align: center;
    padding: 1%;
    color: white;
    border: solid 1px white;
}

.space .hima{
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-80%, -85%);
}

.space .tann{
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-85%, -90%);
}

.tanno{
    width: 4.5%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 95%;
    transform: translate(-95%, -100%);
}


@media screen and (max-width: 1024px){
    .corner img{
        width: 8%;
        height: auto;
    }
 
}

@media screen and (max-width: 896px){
    .corner img{
        width: 8%;
        height: auto;
    }
   
}

@media screen and (max-width: 480px){
    .corner img{
        width: 12%;
        height: auto;
    }

}